.cabecalho {
    text-align: center;
    height: 15vh;
    background-color: rgb(87, 133, 202);
}

.titulo_principal {
    padding: 2em;
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.corpo_pagina {
    justify-content: space-around;
    
}

body {
    background-color: rgb(237, 239, 245);
}



